<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper    
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"     
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <!-- 쿼리를 적으면 된다 -->
<mapper namespace="com.asmr.mapper.AsmrMapper">
	<!-- 유저생성 -->
	<insert id="userInsert">
		insert into asmruser(num,id,password,name,phone)
		values(asmr_seq.nextval,#{id},#{password},#{name},#{phone})
	</insert>
	
	<!-- 아이디 중복 체크 -->
	<select id="idCheck" resultType="Integer">
		select count(*)
		from asmruser
		where id = #{userid}
	</select>
	
	<!-- 로그인 -->
	<select id="login" resultType="Integer">
		select count(*)
		from asmruser
		where id=#{id} and password=#{password}
	</select>
</mapper>